@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    overflow: hidden;
    background-color: #f3f5f8;
    ;
}

/* header section */

#header {
    width: 100%;
    min-height: 10vh;
    padding: 5px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
    padding: 15px 20px 0px 20px;
    position: relative;
}

nav a {
    color: rgb(67, 67, 67);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(190, 31, 229);
    transition: 0.3s ease;
    text-decoration: none;
}

li a.active {
    color: rgb(190, 31, 229);
}

nav a.active::after,
nav a:hover::after {
    content: "";
    width: 15%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(190, 31, 229);
    position: absolute;
    left: 20px;
    bottom: -4px;
}

#header .links a {
    color: rgb(67, 67, 67);
    padding-right: 5px;
    padding-left: 15px;

}

#header .links a:hover {
    color: rgb(190, 31, 229);
}

#header img {
    width: 130px;
    height: auto;
}

/* introduction section */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    height: calc(100vh-10vh);
    width: 100%;
}

#intro::before {
    position: absolute;
    content: '';
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: -10%;
    top: 40%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    animation: bigcircle 2s linear infinite;
}

@keyframes bigcircle {
    50% {
        left: -11%;
        top: 41%
    }
}

#intro::after {
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 30%;
    top: 15%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    animation: lilcircle1 2s linear infinite;
}

@keyframes lilcircle1 {
    50%{
        left: 31%;
        top: 16%;
    }
}

.cols {
    width: 50%;
    z-index: 50;
}

.cols1::after {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    bottom: -3%;
    right: -3%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    animation: lilcircle2 2s linear infinite;
}

@keyframes lilcircle2{
    50%{
        right: -2%;
        bottom: -2%
    }
}

.topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: rgb(67, 67, 67);
}

.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgb(190, 31, 229);
    ;
}

h1 {
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: rgb(67, 67, 67);
}

.multitext {
    color: rgb(190, 31, 229);
    text-transform: capitalize;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns button {
    margin-right: 15px;
    box-shadow: 0 17px 10px rgba(0, 0, 0, 0.4);
}

.imgbox {
    position: relative;
    height: 100%;
    width: 100%;
}

.imgbox img {
    position: relative;
    height: 100%;
    width: calc(130% - 10vh);
    top: -50px;
    right: 50px;
    animation: animateUser 5s linear infinite;
}

@keyframes animateUser {
    50% {
        right: 30px;
        top: -60px;
    }
}

#splash {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-30deg);
    width: 130%;
    height: auto;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    50% {
        top: 47%;
        left: 63%;
        width: 135%;
    }
}
