@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #f3f5f8;
}

/* header section */

#header {
    width: 100%;
    min-height: 10vh;
    padding: 5px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close {
    display: none;
}

.links-mob {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
    padding: 15px 20px 0px 20px;
    position: relative;
}

nav a {
    color: rgb(67, 67, 67);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(190, 31, 229);
    transition: 0.3s ease;
    text-decoration: none;
}

li a.active {
    color: rgb(190, 31, 229);
}

nav a.active::after,
nav a:hover::after {
    content: "";
    width: 15%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(190, 31, 229);
    position: absolute;
    left: 20px;
    bottom: -4px;
}

#header .links a {
    color: rgb(67, 67, 67);
    padding-right: 5px;
    padding-left: 15px;

}

#header .links a:hover {
    color: rgb(190, 31, 229);
}

#header img {
    width: 130px;
    height: auto;
}

#hamburger {
    display: none;
}

/* introduction section */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    height: calc(100vh-10vh);
    width: 100%;
}

#intro::before {
    z-index: 0;
    position: absolute;
    content: '';
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: -10%;
    top: 40%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    animation: bigcircle 2s linear infinite;
}

@keyframes bigcircle {
    50% {
        left: -11%;
        top: 41%
    }
}

#intro::after {
    z-index: 0;
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 30%;
    top: 15%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    animation: lilcircle1 2s linear infinite;
}

@keyframes lilcircle1 {
    50% {
        left: 31%;
        top: 16%;
    }
}

.cols {
    width: 50%;
    z-index: 50;
}

.cols1::after {
    z-index: 0;
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    bottom: -3%;
    right: -3%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    animation: lilcircle2 2s linear infinite;
}

@keyframes lilcircle2 {
    50% {
        right: -2%;
        bottom: -2%
    }
}

.topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: rgb(67, 67, 67);
}

.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgb(190, 31, 229);
    ;
}

h1 {
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: rgb(67, 67, 67);
}

.multitext {
    color: rgb(190, 31, 229);
    text-transform: capitalize;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns button {
    margin-right: 15px;
    box-shadow: 0 17px 10px rgba(0, 0, 0, 0.4);
}

.imgbox {
    position: relative;
    height: 100%;
    width: 100%;
}

.imgbox img {
    position: relative;
    height: 100%;
    width: calc(130% - 10vh);
    top: -50px;
    right: 50px;
    animation: animateUser 5s linear infinite;
}

@keyframes animateUser {
    50% {
        right: 30px;
        top: -60px;
    }
}

#splash {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-30deg);
    width: 130%;
    height: auto;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    50% {
        top: 47%;
        left: 63%;
        width: 135%;
    }
}


/* about page */

#greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 20%;
}

#greeting::after {
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    right: -10%;
    top: 30%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    animation: circle1 2s linear infinite;
}

@keyframes circle1 {
    50% {
        right: -11%;
        top: 32%;
    }
}

#greeting .image {
    position: relative;
}

#greeting #myphoto {
    width: 80%;
    border-radius: 50%;
}

#greeting #colorsplash {
    position: absolute;
    z-index: 0;
    width: 22%;
    top: 150px;
    left: 230px;
    height: auto;
    transform: rotate(-20deg);
    animation: colorobject 2.5s linear infinite;
}

@keyframes colorobject {
    50% {
        top: 135px;
        opacity: 0.5;
        left: 235px;
    }
}


#greeting .texts {
    width: 100%;
}

#greeting .texts h1 {
    font-size: 45px;
}

/* storyline section */

#storyline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 80px;
}

#storyline::after {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: -3%;
    bottom: -35%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    animation: circle2 2s linear infinite;
}

@keyframes circle2 {
    50% {
        left: -2%;
        bottom: -36%;
    }
}

.maintext {
    width: 50%;
    padding: 0px 30px;
}

.maintext h2 {
    padding-bottom: 5px;
}

.maintext p {
    padding-top: 10px;
}

#storyline .educationandexperience {
    width: 50%;
}

#storyline table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
    border: 1px solid #383838;
}

#storyline table tr {
    border: 1px solid #606060;
}

#storyline table td {
    padding: 5px 5px;
    border: 1px solid #606060;
}

.education {
    padding-top: 55px;
}

/* hobbies section */

#hobbies {
    position: relative;
    padding: 10px 105px;
    display: flex;
    flex-direction: column;
}

#hobbies::after {
    z-index: -1;
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    right: 10px;
    top: 50px;
    animation: ball 3s linear infinite;
}

@keyframes ball {
    50% {
        right: 15px;
        top: 80px;
    }
}

#hobbies .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43%;
    background-color: white;
    padding: 20px 50px;
    border-radius: 25px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px rgb(171, 171, 171);
}

#hobbies .container p {
    margin-bottom: 0.5rem;
}


#hobbies .container-2 {
    width: 100%;
    padding: 20px 250px;
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url(image/catto.png);
    background-position: top 20% right 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 20px;

}

#hobbies .list {
    padding-top: 15px;
    padding-bottom: 0px;
}

#hobbies .container img {
    width: 40%;
    border-radius: 50%;
}

#hobbies h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

#hobbies .hobby {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* Skills page */

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;

}

#skills::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: -5%;
    bottom: -5%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));

}

#skills::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    right: -1%;
    top: 15%;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));

}

#skills button {
    position: absolute;
    bottom: 25px;
    box-shadow: 0px 15px 5px rgb(139, 139, 139);
    animation: buttonn 2s linear infinite;
}

@keyframes buttonn {
    50% {
        box-shadow: 0px 15px 5px rgba(139, 139, 139, 0.57);
    }
}

#skills .shadow {
    position: absolute;
    z-index: -1;
    width: 47%;
    height: 420px;
    background-color: #b37ceaf4;
    border-radius: 30px;
    transform: rotate(8deg);
    animation: shadow 2s linear infinite;
}

@keyframes shadow {
    50% {
        transform: rotate(12deg);
    }
}

#skills .keyskills {
    background-color: rgb(255, 255, 255);
    padding: 40px 40px 40px 60px;
    border-radius: 30px;
    width: 45%;
}

#skills table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#skills table thead td {
    font-size: 20px;
}

#skills table td {
    padding: 15px 0;
}


/* contact me page */

#sendemail {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 85vh;
    padding: 30px 150px;
}

#sendemail::before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    border-radius: 50%;
    right: 40%;
    top: 5%;
    transform: rotate(-40deg);
    animation: behindcat 2s linear infinite;
}

@keyframes behindcat {
    50% {
        transform: rotate(-50deg);
        right: 38%;
        top: 6%;
    }
}

#sendemail::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    border-radius: 50%;
    left: 10px;
    bottom: 190px;
    animation: mailcircle 3s linear infinite;
}

@keyframes mailcircle {
    50% {
        left: 0px;
        bottom: 180px;
    }
}

.emailform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#sendemail .email {
    width: 50%;
}

#sendemail .contactimage {
    width: 50%;
}

#sendemail .contactimage img {
    position: relative;
    left: 20%;
    width: 70%;
    transform: rotate(10deg);
    animation: cat 2s linear infinite;
}

@keyframes cat {
    50% {
        transform: rotate(5deg);
    }
}

.mailcontainer form {
    display: flex;
    flex-direction: column;
    padding: 0 4vw 2vw 0;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
}


.mailcontainer form input,
.mailcontainer form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #ffffff;
    font-size: 15px;
    border-radius: 10px;
}

.mailcontainer form button {
    width: 50%;
    margin-top: 5px;
}


.contactdetails {
    text-align: right;
    position: absolute;
    bottom: 20px;
}

.contactdetails i {
    padding-left: 10px;
    color: rgba(116, 23, 208, 0.958);
}

.contactdetails::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, rgba(116, 23, 208, 0.958), rgb(252, 168, 244));
    border-radius: 50%;
    right: -190px;
    bottom: 10px;
    animation: mailcircle 2s linear infinite;
}

@keyframes mailcircle {
    50% {
        right: -184px;
        bottom: 18px;
    }
}

/* media query */

@media (max-width: 570px) {

    #header {
        padding: 0px 20px;
        /* align-items: flex-start; */

    }

    #header .links {
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        z-index: 75;
        top: 0px;
        right: -400px;
        width: 200px;
        border-radius: 0 0 0 15px;
        background-color: #f3f5f8;
        box-shadow: 0px 5px 70px rgb(222, 218, 218);
        padding: 10px 0 40px 10px;
        transition: 0.3s;
    }

    nav ul li {
        top: 20px;
    }

    nav ul.active {
        right: 0px;
    }

    #header .links-mob {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 0px 0px 20px;
    }

    #header .links-mob a {
        padding-right: 15px;
    }

    #header .links-mob a:hover {
        color: rgb(190, 31, 229);
    }

    #hamburger {
        display: flex;
        align-items: center;
        color: #494949;
    }

    #close {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        color: #494949;
    }


    #intro {
        flex-direction: column;
        padding: 20px;
    }

    .cols {
        width: 100%;
    }

    .cols0 {
        z-index: 60;
    }

    .cols1 {
        margin-top: 15px;
    }

    #intro h1 {
        width: 60%;
        font-size: 70px;
    }

    .cols img {
        z-index: 5;
    }

    .cols1::after {
        display: none;
    }

    #intro::after {
        animation: none;
    }

    .imgbox img {
        animation: none;
        top: 40px;
    }


    #splash {
        transform: translate(-50%, -50%) rotate(-20deg);
        width: 100%;
        animation: animate 2s linear infinite;
    }

    @keyframes animate {
        50% {
            width: 145%;
        }
    }

    /* about page */

    #greeting {
        display: flex;
        flex-direction: column;
    }

    #greeting .image {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    #storyline {
        flex-direction: column;
        padding: 10px 10px;
    }

    #greeting::after {
        display: none;
    }

    .maintext {
        width: 100%;
    }

    #storyline .educationandexperience {
        width: 100%;
        overflow-x: auto;
    }

    #storyline table {
        width: 200%;
    }

    #greeting #colorsplash {
        top: 80px;
        width: 40%;
        left: 70px;
        animation: none;
    }

    #hobbies {
        padding: 10px 10px;
    }

    #hobbies .hobby {
        flex-direction: column;
    }

    #hobbies .container {
        width: 100%;
        padding: 20px 25px;
    }

    #hobbies .container-2 {
        padding: 20px 20px;
        background-position: top 20% right 70%;
    }


    /* skills section */

    #skills {
        padding: 30px 20px;
    }

    #skills .keyskills {
        padding: 40px 20px 40px 20px;
        width: 100%;
    }

    #skills button {
        position: relative;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #skills table td{
        border-bottom: 1px solid rgb(197, 197, 197);
    }

    #skills .shadow{
        display: none;
    }

    #skills::after {
        left: -8%;
        bottom: 5%;
    }

    #theadtext{
        width: 120px;
    }

    /* contact page */

    .emailform {
        flex-direction: column;
    }

    #sendemail {
        padding: 30px 10px;
        align-items: center;
    }

    #sendemail .email {
        width: 100%;
    }

    #sendemail .contactimage {
        width: 100%;
    }

    #sendemail .contactimage img {
        left: 17%;
    }

    .contactdetails {
        margin-top: 20px;
        position: relative;
        text-align: center;
    }

    .contactdetails::after {
        display: none;
    }

    .mailcontainer form {
        width: 100%;
        padding: 0 0 2vw 0;
    }

    .mailcontainer form button {
        width: 100%;
        margin-top: 5px;
    }
}
